name: "Compatibility verification"

on: [ push, pull_request ]

jobs:
  test:
    runs-on: macOS-latest
    name: Compatibility verification
    steps:
      - uses: actions/checkout@v3

      # Install required tools
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.6

      # Run compatibility verification
      - name: Compatibility verification
        run: ./gradlew clean verifyPlugin runPluginVerifier -DpluginVerifierVersion=1.383